* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.nav-bar {
    height: 60px;
    width: 100%;
    background-color: #0F1111;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Box-1 : Amazon Navbar logo */

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("photos/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

/*Box-2 : Navbar Address*/


.add-first {
    font-size: 0.75rem;
    color: #CCCCCC;
    margin-left: 22px;
}

.add-sec {
    font-size: 0.875rem;
    color: #FFFFFF;
    margin-left: 2px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-address {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Box-3 : Navbar Search*/

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select {
    background-color: #f3f3f3;
    width: 52px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}