* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.nav-bar {
    height: 60px;
    width: 100%;
    background-color: #0F1111;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("photos/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 1px solid transparent;
}

.border:hover {
    border: 1px solid white;
}

/**Box-2**/


.add-first {
    font-size: 0.75rem;
    color: #CCCCCC;
    margin-left: 22px;
}

.add-sec {
    font-size: 0.875rem;
    color: #FFFFFF;
    margin-left: 2px;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-address{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}